<xf:datalist>
	<xf:datarow rowtype="subsection" rowclass="dataList-row--noHover">
		<xf:cell>#</xf:cell>
		<xf:cell>{{ phrase('name') }}</xf:cell>
		<xf:cell>{{ phrase('messages') }}</xf:cell>
	</xf:datarow>
	
	<xf:if is="{$visitor}">
		<xf:datarow rowtype="subsection" rowclass="rating-item--visitor dataList-row--noHover">
			<xf:cell>{$visitor.key}</xf:cell>
			<xf:cell>
				<xf:username user="{$visitor.user}" />
			</xf:cell>
			<xf:cell>
				<a href="{{ link('search/member', null, {'user_id': $visitor.user.user_id}) }}">
					{$visitor.user.message_count|number}
				</a>
			</xf:cell>
		</xf:datarow>
	</xf:if>
	
	<xf:foreach loop="{$users}" key="$key" value="$user">
		<xf:datarow rowclass="rating-item--{{ $key + 1 }}">
			<xf:cell>{{ $key + 1 }}</xf:cell>
			<xf:cell>
				<xf:username user="{$user}" />
			</xf:cell>
			<xf:cell>
				<a href="{{ link('search/member', null, {'user_id': $user.user_id}) }}">
					{$user.message_count|number}
				</a>
			</xf:cell>
		</xf:datarow>
	</xf:foreach>
</xf:datalist>