<xf:datalist>
	<xf:datarow rowtype="subsection" rowclass="dataList-row--noHover">
		<xf:cell>#</xf:cell>
		<xf:cell>{{ phrase('name') }}</xf:cell>
		<xf:cell>{{ phrase('likes') }}</xf:cell>
	</xf:datarow>
	
	<xf:if is="{$visitor}">
		<xf:datarow rowtype="subsection" rowclass="rating-item--visitor dataList-row--noHover">
			<xf:cell>{$visitor.key}</xf:cell>
			<xf:cell>
				<xf:username user="{$visitor.user}" />
			</xf:cell>
			<xf:cell>{$visitor.user.like_count|number}</xf:cell>
		</xf:datarow>
	</xf:if>
	
	<xf:foreach loop="{$users}" key="$key" value="$user">
		<xf:datarow rowclass="rating-item--{{ $key + 1 }}">
			<xf:cell>{{ $key + 1 }}</xf:cell>
			<xf:cell>
				<xf:username user="{$user}" />
			</xf:cell>
			<xf:cell>{$user.like_count|number}</xf:cell>
		</xf:datarow>
	</xf:foreach>
</xf:datalist>